@import 'config';
@import 'base';

.Logo {
	a {
		color: black;
		text-decoration: none;
	}
}

.List {
	padding-left: 0;
	list-style: none;
	li {
		font-size: 0.8125rem;
		padding: 0.25em 0 0.2em;
		&.is-matched {
			// text-decoration: line-through;
			// font-weight: bold;
		}
	}
	li:nth-child(odd) {
		background-color: hsl(0,0%,97%);
	}
}


.Playlist-title {
	display: inline-block;
	margin-top: 1rem;
	line-height: 1;
	padding: 0.25em 0.5rem 0.24em;
	padding: 0.3em 0.5rem 0.1em;
	transition: background-color 300ms;
	background-color: #e62117;
	color: white;
	.done-matching & {
		background-color: #81b900;
	}

}
.Playlist-description {
	margin-left: 1rem;
	margin-bottom: 2rem;
}
.Playlist-matched {
	// font-size: 2em;
	// input[type="checkbox"] {
	// 	position: relative;
	// 	top: -0.35em;
	// 	margin-right: -0.4em;
	// }
}


.AnimatedNumber {
	text-align: center;
	.liquid-outlet,
	.liquid-container {
		display: inline-block;
		vertical-align: top;
	}
	.liquid-child {
		// This prevents a slight horizontal wobble in firefox
		width: 1.3em;
	}
}
