 /**
 * Base
 */
html {
	font-size: $base-font-size;
	line-height: $base-line-height-unitless;
	font-family: $font-body;
	color: $text-color;
	background-color: $bg-color;

	// Enable kerning and ligatures everywhere
	text-rendering: optimizeLegibility;

	// Check this for each typeface. Sometimes it makes it worse
	// -webkit-font-smoothing: antialiased;
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
button {
	margin: 0 0 1em;
}

// Headers
h1,
h2,
h3,
h4 {
	font-weight: bold;
}
h1 {
	font-size: rem(32);
}
h2 {
	font-size: $base-font-size;
	margin-bottom: 0;
}
h3 {
	font-size: 1rem;
}
small {
	font-size: 14px;
}

// Responsive media
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}
