button {
	-webkit-appearance: none; /* 1 */
	box-sizing: border-box; /* 2 */
	color: black; /* 3 */
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: normal; /* 6 */
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */
	border-color: 1px solid darken($green,10%);
	background: linear-gradient(to bottom, lighten($green, 8%) 20%,$green);
	color: #fff;
	font-weight: bold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	// Button needs this directly on the element. Inheritance is not enough
	// -webkit-font-smoothing: antialiased;
}

/**
 * UI states
 */

button:hover,
button:focus,
button:active {
	background-color: darken($green, 5%);
	text-decoration: none;
	outline: 0;
}

button:disabled,
button.is-disabled {
	cursor: default;
}

// Reset button styles
.Button--clean,
.js-toggleFailed {
	display: inline;
	background: none;
	border: 0;
	padding: 0;
	font-weight: normal;
	color: inherit;
	text-decoration: underline;
	button:hover,
	button:focus,
	button:active {
		background-color: none;
		text-decoration: underline;
	}
}
