// More sensible box-model: http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* hsl(75, 53%, 53%) */
/* #00438a */
/* fea600 */
/* 141414 */
/* 908f8d */

body {
	margin: 0 1em;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 0.5em;
}
small {
	font-size: 0.875em;
	color: #666;
}
.Header {
	background-color: #00438a;
	margin: 0 -1em;
	padding: 1em;
	color: #fff;
	border-bottom: 4px solid hsl(210, 100%, 22%);
}

.Bucket {
	margin: 1em 0;
	float: left;
	width: 50%;
	padding-right: 2em;
}
.Bucket ul {}
.Bucket li {
	list-style: none;
	font-size: 12px;
	/* border-bottom: 1px solid #ccc; */
	padding: 0.3em 0.3em 0.2em;
}
.Bucket li:nth-child(odd) {
  background: hsl(0, 0%, 93%);
}
.Analyzed {
	display: none;
	width: auto;
	float: none;
}
.Analyzed li {
	display: none;
}
.Success {
	display: none;
}
.Success li {
	display: none;
}
.Failed {
	display: none;
}
.Failed h2 {
	color: red;
}
.Failed li {
	display: none;
}
.Matches {
	clear: both;
	width: auto;
	float: none;
}

/* ::-webkit-placeholder,
::-moz-placeholder, */
input,
button,
li {
	font-size: 14px;
}
.Playlist {
	overflow: auto;
}
.Playlist-label {
	position: relative;
	float: left;
	width: calc(100% - 5.3em);
}
.Playlist-input {
	position: relative;
	z-index: 1;
	background-color: #fff;
	color: $text-color;
	margin: 0;
}
.Playlist-submit {
	float: right;
	min-width: 5.5em;
	transition: background 200ms, transform 300ms ease-out;
	transform: translateX(-120%);
}
.Playlist-submit.is-visible {
	transform: translateX(0);
}
.is-loading .Playlist-submit {
	background-color: hsl(60, 100%, 50%);
	color: #000;
}

.Progress {
	position: absolute;
	z-index: 2;
	top: 0;
	background-color: black;
	width: 0;
    height: 32px;
    line-height: 32px;
	transition: width 400ms ease-out;
	font-size: 14px;
	border-radius: 2px;
	text-align: right;
	overflow: hidden;
}
.is-done .Progress {
	width: 0 !important;
	background-color: hsl(75, 53%, 53%);
}
.is-failed .Progress {
	background-color: red;
}
.Progress-inner {
	margin: 0.6em;
}

footer {
	display: none;
	clear: both;
	font-size: 14px;
	color: #666
}
footer a {
	color: #666;
}
