body {
	margin: 0 1em;
}
header {
	background: linear-gradient(to bottom, lighten($red, 5%),$red);
	margin: 0 -1em 2em;
	padding: 2em 1em 1em;
	border-bottom: 4px solid $darkred;
	color: #fff;

	img {
		margin-left: 1px;
	}

	img + p {
		margin-top: -0.3em;
	}
}
footer {
	display: none;
	clear: both;
	font-size: 14px;
	color: #666;
	a {
		color: #666;
	}
}

.Results {
	display: none;
	> p {
		max-width: 40em;
	}
}

// highlight numbers
.js-success,
.js-total,
.js-failed {}
.js-toggleTitles {
	float: right;
	margin: 1em;
}

/**
 * Buckets
 */
.Bucket {
	margin: 2em 0;
	h2 {
		display: inline-block;
		padding: 0.4em 0.5em 0.2em;
		margin-bottom: 0.5em;

		// + p {
		// 	font-size: 14px;
		// 	margin-left: 0.5em;
		// }
	}
}
.Bucket-results {
	li {
		list-style: none;
		font-size: 12px;
		padding: 0.5em;
		&:nth-child(even) {
		  background: hsla(0, 0%, 97%, 0.1);
		}
	}
	small {
		display: none;
		float: right;
		font-size: 10px;
		opacity: .6;
	}
	&.is-showingTitles small {
		display: block;
	}
}
.Success {
	max-width: 26em;
	border: 1px solid hsl(0, 0%, 60%);
	border-radius: 4px;
	background-color: $text-color;
	color: #fff;

	h2 {
		background-color: $green;
		color: #fff;
		+ p {
			font-size: 12px;
			margin-left: em(8,12);
		}
	}
	.Bucket-results {
		max-height: 392px; // middle of a word
		overflow: scroll;
		&:focus {
			background-color: hsla(60, 100%, 50%, 0.22);
			outline: 0;
		}
	}
}
.Analyzed {
	display: none;
}
.Failed {
	display: none;
	h2 {
		color: white;
		background-color: $red;
	}
}
