body {
	margin: 0 1em;
}
header {
	background: linear-gradient(to bottom, lighten($red, 5%),$red);
	margin: 0 -1em 2em;
	padding: 2em 1em 1em;
	border-bottom: 4px solid $darkred;
	color: #fff;

	img {
		margin-left: 1px;
	}

	img + p {
		margin-top: -0.3em;
	}
}
footer {
	display: none;
	clear: both;
	font-size: 14px;
	color: #666;
	a {
		color: #666;
	}
}

.Results {
	display: none;
	> p {
		max-width: 40em;
	}
}
.Bucket {
	margin: 2em 0;
	border-radius: 5px;
	border: 1px solid hsla(0, 0%, 0%, 0.2);

	> p {
		font-size: 14px;
		display: inline-block;
		font-weight: bold;
		background-color: $yellow;
		color: $text-color;
		padding: 0.2em 0.5em;
	}

	ul {}
	li {
		list-style: none;
		font-size: 12px;
		padding: 0.5em;
	}
	li:nth-child(even) {
	  background: hsla(0, 0%, 97%, 0.1);
	}
	small {
		display: none;
		float: right;
		font-size: 10px;
		opacity: .6;
		@media (min-width: 600px) {
			display: block;
		}
	}
}
.Bucket-results {
	margin: 1em;
}
.Success {
	clear: both;
	background-color: $green;
	color: #fff;
	.Bucket-results:focus {
		background-color: hsla(60, 100%, 50%, 0.22);
		outline: 0;
	}
}
.Analyzed {
	display: none;
}
.Failed {
	display: none;
	h2 {
		color: red;
	}
}
