<h1>About YouTube to Spotify</h1>
<p>This is a small tool I built to migrate YouTube playlists to Spotify. It's very useful for that actually.</p>
<p>For whoever's interested I first built it with jQuery and am now rewriting it with Ember. I'm using the Cousine typeface by Steve Matteson.</p>
