<h1>
	{{#link-to 'application'}}Youtube to Spotify{{/link-to}}
</h1>

<h1>Enter a YouTube playlist you want converted to a Spotify playlist</h1>

{{input value=playlistID}}
<button {{action 'go'}}>Go</button>

<p><small>To test, you can try this id: PL6AEA53CDF028371E</small></p>

{{outlet}}
