<p>Enter a YouTube playlist below to find the tracks on Spotify.</p>

<form {{action 'convertPlaylist' on='submit'}}>
	{{input placeholder='PL6E85066B4FD25598' value=playlist}}
	<button type="input">Match</button>
</form>

<p><small>To test, you can try one of these playlists ids: PL6E85066B4FD25598 or PL977D57277C9192D6</small></p>
