<h1 class="Logo">
	{{#link-to 'index'}}Youtube to Spotify{{/link-to}}
</h1>

<form {{action 'transition' on='submit'}}>
	<label>
		Enter the ID of a YouTube playlist:
		{{input value=playlistId placeholder='PL6E85066B4FD25598' required='required'}}
	</label>
	<button type="submit">Convert</button>
</form>

<p>To test, you can try this one: PL-tpclp_nA62tdgkqX1hcyKgH_DPp_RSi</p>

<p>{{#link-to 'about'}}About{{/link-to}}</p>
