<p>Enter a YouTube playlist below to find the tracks on Spotify.</p>

<form {{action 'convertPlaylist' on='submit'}}>
	{{input placeholder='PL6E85066B4FD25598' value=playlist}}
	<button type="input">Convert</button>
</form>

<p><small>To test, you can try this id: PL6E85066B4FD25598</small></p>
